*{
  margin: 0;
  padding: 0;
}

html, body{
  height: 100vh;
}

body {
  display: block;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: pink;

  


}

.Home{
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: teal;

}

.Header{
  display: block;
  background-color: #efefef;
  width: 100vw;
  height: 7%;
  
}

.Header p{
  float: left;
  margin-top: 1.50rem;

}

.Header button{
  float: right;
  margin-top: 5px;
}

#FBShareButton{
  margin-right: 3px;
}

#TwitterShareButton{
  margin-right: 5px;
}

.Content{
  background-color: burlywood;
  width: 30%;
  padding: 30px 5px 30px 5px;
  align-self: center;
  text-align: left;
}

.Footer{
  background-color:lightslategrey;
  align-self: center;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



/* .Container{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  /* justify-content: center;
  align-items: center; 
}



.Header{
  min-height: 7%;
  width: 100vw;
  background-color: lightblue;
  display: flex;
  margin-bottom: 10px;
  
  
}

.Header > :first-child {
  margin-right: auto;
  
}

.Header :nth-child(2) {
  margin-top: 5px;
}
 
.Header :last-child{
  margin: 5px 10px 0 5px
}

.Header button{
  font-size: 0.75rem;
  height: 1.5rem;
}

.Home{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  background-color: brown;
  text-align: center;
  
  height: 80%;
  width: 80%;
  
  
} 

.Footer{
  display:flex;
  flex-direction: row;
  align-items: center;
} 
*/