@import url('https://fonts.googleapis.com/css2?family=Caprasimo&display=swap');
/*TODO [Homepage]: Refactor CSS; less hack-y margins and spacing, review for responsiveness/make responsive, etc. */


*{
  margin: 0;
  padding: 0;
}

html, body{
  height: 100vh;
}

body {
  display: block;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;

  


}

button:hover{
  cursor: pointer;
}

.Home, .ChatPage{
/*DONE [Homepage]: Fix background color to be closer to Omegle original*/

  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: #fff7ee;

}



.Header{
/*DONE [Homepage]: Add actual logo in header at some point*/
/*DONE [Homepage]: Fix button styling in header.*/
/*DONE [Homepage]: Fix header color to contrast better with background color*/

  
  display: flex;
  background-color: #ffffff;
  width: 100vw;
  height: 7%;
  margin-bottom: 1rem;
  box-shadow: 0 0 10px #a8a9ad ;

  
}

.Header p{
  justify-content: space-around;
  margin-right: auto;
  margin-left: 0.25rem;
  align-self: center;
  font-family: "Caprasimo", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  color: #ff6433;

}

.Header p:hover{
  cursor: pointer;
}

.Header svg{
  align-self: start;
  margin-top: 0.25rem;
  
}

.Header a[title = "github"]{
  margin-right: 0.25rem;
}

.Header a[title = "linkedin"]{
  margin-right: 0.25rem;
} 

.Content{ 
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  width: 30%;
  padding: 2rem 0.5rem 2rem 0.5rem;
  align-self: center;
  text-align: left;
  margin-bottom: 0.25rem;
  box-shadow: inset 0 0 10px #a8a9ad;
  border-radius: 5px;

}

.Content form{
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content:space-between;
  flex-wrap: wrap;
  
}

.Content form label{
  display:block;
  margin-left: 2rem;

}




.Content form div p{
  margin-right: 4rem;
}

.Content p, input{
  margin-bottom: 0.5rem;
}

#interestsField{
  font-size: 1.5rem;
  margin-top: 0.25rem;
  border-radius: 5px;
  box-sizing: border-box;
  width: 100%;
}


#buttonRow button{
  margin: 5px;
  padding: 4px;
  width: 100px;
  font-size: 1.5rem;
  text-align: center;
  border-radius: 5px;
  border-width: 0px;
  background-color:dodgerblue;
  color: white;
}

.Footer{
  display: flex;
  flex-direction: row;
  background-color: none;
  align-self: center;
  color: #555555;
  
}

.ChatPage .Chat{
  display: block;
  align-self: left;
  height: 90%;
  background-color: white;
  border-radius: 5px; 
  margin: 0 0.5rem 0.5rem 0.5rem;
  padding: 0.5rem 0.5rem 0 0.5rem;
  overflow: scroll;
  overflow-x: hidden;
}

.ChatPage .Chat p{
  margin-bottom: 0.20rem;
}

.ChatPage textarea{
  font-size: 1.25rem;
}

#chatButtonRow{
  display: grid;
  grid-template-columns: 0.5fr 5fr 0.5fr;
  grid-gap: 0.5rem;
  height: 10%;
  margin: 0 0.5rem 0.25rem 0.5rem;
}

.ChatPage #chatButtonRow #disconnectButton{
  height: 100%;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

